// Allows number of columns to altered based on screen width
// ===============================================
@mixin breakpoint($point) {
	@if $point == large-screen {
		@media (min-width: 630px) { @content; }
	}
	@else if $point == med-screen {
		@media (max-width: 629px) { @content; }
	}
}

// Handle the side bar disappearing and the content becoming wider 
// ===============================================
@mixin awkward-breakpoint($awk-point) {
	@if $awk-point == vert-buttons {
		@media (max-width: 901px) { @content; }
	}
	@else if $awk-point == horiz-buttons {
		@media (min-width: 716px) and (max-width: 769px) { @content; }
	}
}

// Warning to be displayed for old IE and no-js 
// ===============================================
.status-message {
	border: 1px solid #c00;
	background: #fac7c7;
	padding: 10px;
	display: none;

}

.js-disabled .status-message, .ie6 .status-message, .ie7 .status-message, .ie8 .status-message {
	display: block;
}

.outer-wrapper {
	width: 100%;
	position: relative;
	border: 1px solid #c8c7cf;
	display: none;

	h2 {
		padding: 10px 10px 0 10px;
		margin: 0;
	}

	h3 {
		padding: 0 10px;
		margin: 0;
	}

	p {
		padding: 10px;
		margin: 0;
	}

	.axis{
		path, line {
			fill: none;
			stroke: #666;
			shape-rendering: crispEdges;
		}

		text {
			font-family: sans-serif;
			fill: #666;
			font-size: 13px;
			shape-rendering: crispEdges;
		} // SVG
	}

	.key {
		margin-left: 30px;
	}
	
	.palette {
		border-left: 20px solid;
		padding-left: 4px;
		display: inline-block;
		margin: 10px;
	}

} // outerwrapper

