// Allows number of columns to altered based on screen width
// ===============================================
@mixin breakpoint($point) {
	@if $point == large-screen {
		@media (min-width: 630px) { @content; }
	}
	@else if $point == med-screen {
		@media (max-width: 629px) { @content; }
	}
}

// Handle the side bar disappearing and the content becoming wider 
// ===============================================
@mixin awkward-breakpoint($awk-point) {
	@if $awk-point == vert-buttons {
		@media (max-width: 901px) { @content; }
	}
	@else if $awk-point == horiz-buttons {
		@media (min-width: 716px) and (max-width: 769px) { @content; }
	}
}

// Warning to be displayed for old IE and no-js 
// ===============================================
.status-message {
	border: 1px solid #c00;
	background: #fac7c7;
	padding: 10px;
	display: none;

}

.js-disabled .status-message, .ie6 .status-message, .ie7 .status-message, .ie8 .status-message {
	display: block;
}

.outer-wrapper {
	width: 100%;
	position: relative;
	border: 1px solid #c8c7cf;
	display: none;
	margin: 0 0 1.65em;

	h2 {
		padding: 10px 10px 0 10px;
		margin: 0;
	}

	h3 {
		padding: 0 10px;
		margin: 0;
	}

	p {
		padding: 10px;
		margin: 0;
	}

	.chart {
		position: relative;
	
		.axis {
			path, line {
				fill: none;
				stroke: #666;
				shape-rendering: crispEdges;
			}

		}

		text {
			font-family: sans-serif;
			fill: #666;
			font-size: 13px;
			shape-rendering: crispEdges;
		}

		circle {
			-webkit-transition: opacity 0.2s ease;
			transition: opacity 0.2s ease;
		}
	}


	.scatterGroup circle {
		cursor: pointer;
	}

	.widget-tooltip {
		position: absolute;
		width: 200px;
		height: auto;
		padding: 6px 10px 6px 15px;
		color: #ccc;
		background-color: #333;
		pointer-events: none;
		border-radius:5px;
		font-size: 0.8em;
		line-height: 1.4em;
		opacity: 1;
		-webkit-transition: opacity 0.2s ease;
		transition: opacity 0.2s ease;

		p {
			padding: 0;
		}

		span {
			font-weight: bold;
			color: #fff;
		}
	}

	.hidden {
		opacity: 0;
		pointer-events: none;
	}
	
	.palette {
		border-left: 20px solid;
		padding-left: 4px;
		display: inline-block;
		margin: 10px;
	}

	.widget-footnote {
		font-size: 0.8em;
		color: #666;
		display: none;
	}

	.options {
		margin: 10px;

		button {
			padding: 10px;
			background: #666;
			color: #fff;
			display: inline-block;
			font-weight: bold;
			border: none;
		}

		span {
			display: inline-block;
			margin-left: 10px;
			// Don't add the -webkit- version
			// Causes a page flicker in safari
			transition: transform 0.3s ease;
		}
	}

	.options .choose-state, .options .choose-type {
		position: absolute;
		left: -5000%;
		height: 0;
		opacity: 0;
	}

	.options.open-section .choose-state, .options.open-section .choose-type  {
		position: relative;
		left: 0;
		height: auto;
		opacity: 1;
	}

	.options span {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	.options.open-section span {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	.choose-state, .choose-type {
		@include breakpoint(large-screen) { 
			-webkit-column-count: 3;
			-moz-column-count: 3;
			column-count: 3;
		}

		@include breakpoint(med-screen) { 
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
		}

		-webkit-transition: opacity 0.4s ease;
		transition: opacity 0.4s ease;

		background-color: #ddd;
		padding: 10px;
		overflow: hidden;
	}

	ul {
		overflow: visible;
		padding-left: 0px;
		margin: 0;
		li {
			list-style: none;
			padding: 0 0 0 10px;
			margin: 4px 0px 8px;
		}
	}

	input[type="checkbox"] {
		border-radius: 50%;
		cursor: pointer;
		display: inline-block;
		height: 20px;
		margin-right: 5px;
		position: relative;
		width: 20px;
		background-color: #666;
		-webkit-appearance: none;
	}

	input[type="checkbox"]:after {
		content: "\2714";
		font-size: 1em;
		display: inline-block;
		left: 0.3em;
		position: relative;
		top: 0.15em;
	}


	input[type="checkbox"]:after {
	    color: #666;
	}

	input[type="checkbox"]:checked:after {
		color: #fff;
	}

	@media only screen and (-webkit-min-device-pixel-ratio : 1.5) {
		input[type="checkbox"]:after {
			font-size: 1.3em;
			left: 0;
			top: -0.3em;
			border: none;
		}
	}

} // outerwrapper

