.status-message {
  border: 1px solid #c00;
  background: #fac7c7;
  padding: 10px;
  display: none;
}

.js-disabled .status-message, .ie6 .status-message, .ie7 .status-message, .ie8 .status-message {
  display: block;
}

.outer-wrapper {
  width: 100%;
  position: relative;
  border: 1px solid #c8c7cf;
  display: none;
  margin: 0 0 1.65em;
}
.outer-wrapper h2 {
  padding: 10px 10px 0 10px;
  margin: 0;
}
.outer-wrapper h3 {
  padding: 0 10px;
  margin: 0;
}
.outer-wrapper p {
  padding: 10px;
  margin: 0;
}
.outer-wrapper .chart {
  position: relative;
}
.outer-wrapper .axis path, .outer-wrapper .axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}
.outer-wrapper text {
  font-family: sans-serif;
  fill: #666;
  font-size: 13px;
  shape-rendering: crispEdges;
}
.outer-wrapper .scatterGroup circle {
  cursor: pointer;
}
.outer-wrapper .widget-tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 6px 10px 6px 15px;
  color: #ccc;
  background-color: #333;
  pointer-events: none;
  border-radius: 5px;
  font-size: 0.8em;
  line-height: 1.4em;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.outer-wrapper .widget-tooltip p {
  padding: 0;
}
.outer-wrapper .widget-tooltip span {
  font-weight: bold;
  color: #fff;
}
.outer-wrapper .hidden {
  opacity: 0;
}
.outer-wrapper .palette {
  border-left: 20px solid;
  padding-left: 4px;
  display: inline-block;
  margin: 10px;
}
.outer-wrapper .options {
  margin: 10px;
}
.outer-wrapper .options button {
  padding: 10px;
  background: #666;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  border: none;
}
.outer-wrapper .options span {
  display: inline-block;
  margin-left: 10px;
  transition: transform 0.3s ease;
}
.outer-wrapper .options .choose-state {
  position: absolute;
  left: -5000%;
  height: 0;
  opacity: 0;
}
.outer-wrapper .options.open-section .choose-state {
  position: relative;
  left: 0;
  height: auto;
  opacity: 1;
}
.outer-wrapper .options button:before {
  content: "Show ";
  font-weight: normal;
}
.outer-wrapper .options.open-section button:before {
  content: "Hide ";
}
.outer-wrapper .options span {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.outer-wrapper .options.open-section span {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.outer-wrapper .choose-state {
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  background-color: #ddd;
  padding: 10px;
  overflow: hidden;
}
@media (min-width: 630px) {
  .outer-wrapper .choose-state {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 629px) {
  .outer-wrapper .choose-state {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
.outer-wrapper ul {
  overflow: visible;
  padding-left: 0px;
}
.outer-wrapper ul li {
  list-style: none;
  padding: 0 0 0 10px;
  margin: 4px 0px 8px;
}
.outer-wrapper input[type="checkbox"] {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  position: relative;
  width: 20px;
  background-color: #666;
  -webkit-appearance: none;
}
.outer-wrapper input[type="checkbox"]:after {
  content: "\2713";
  font-size: 1em;
  display: inline-block;
  left: 0.35em;
  position: relative;
  top: 0.15em;
}
.outer-wrapper input[type="checkbox"]:after {
  color: #666;
}
.outer-wrapper input[type="checkbox"]:checked:after {
  color: #fff;
}
