.status-message {
  border: 1px solid #c00;
  background: #fac7c7;
  padding: 10px;
  display: none; }

.js-disabled .status-message, .ie6 .status-message, .ie7 .status-message, .ie8 .status-message {
  display: block; }

.outer-wrapper {
  width: 100%;
  position: relative;
  border: 1px solid #c8c7cf;
  display: none; }
  .outer-wrapper h2 {
    padding: 10px 10px 0 10px;
    margin: 0; }
  .outer-wrapper h3 {
    padding: 0 10px;
    margin: 0; }
  .outer-wrapper p {
    padding: 10px;
    margin: 0; }
  .outer-wrapper .axis path, .outer-wrapper .axis line {
    fill: none;
    stroke: #666;
    shape-rendering: crispEdges; }
  .outer-wrapper .axis text {
    font-family: sans-serif;
    fill: #666;
    font-size: 13px;
    shape-rendering: crispEdges; }
  .outer-wrapper .scale {
    margin-left: 30px; }
  .outer-wrapper .palette {
    border-left: 20px solid;
    padding-left: 4px;
    display: inline-block;
    margin: 10px; }
